<!doctype html>
<html lang="ru">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- User CSS-->

    <style>
        .news-content img {
            max-width: 100%;
        }
    </style>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>
        {% block title %} {% endblock %}
    </title>
</head>

<body>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
{% include 'bootstrap_scripts.html'%}
<!-------------------------------------------- NAVBAR --------------------------------------------->
{% include 'menu.html' %}
<!-------------------------------------------- NAVBAR --------------------------------------------->
{% block alerts %}

{% endblock %}

<div class="container mt-5">


    <h1> {% block page_title %} {% endblock %} </h1>

    <div class="row mt-3">
        <div class="col-9 news-content">
            <h2>
                {% block content_title %} {% endblock %}
            </h2>
            <div>
                {% block content %} {% endblock %}
            </div>
        </div>
        <div class="col-3">
            <h2>Weather:</h2>
            {% if weather %}
            Today Weather {{ weather.temp_C }}, feels like {{ weather.FeelsLikeC }}
            {% else %}
            Weather Service is not available!
            {% endif %}
        </div>
    </div>
</div>

</body>
</html>
